.content-section2 {
    border: 1px solid rgba(0, 0, 0, 0.288);
    padding: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.288);
    margin-top: 15px;
    background-color:#fff;
    border-radius: 5px 50px 10px 5px;
}

.content-section {
    border: 1px solid rgba(0, 0, 0, 0.288);
    padding: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.288);
    margin-top: 15px;
    background-color:#fff;
}

.title {
    font-family: 'Times New Roman', Times, serif;
}

.link {
    text-decoration: none;
}
.imgs {
    width: 100px;
    border: 1px solid rgb(158, 151, 151);
    border-radius: 50px;
}

.profile-section {
    /* border: 1px solid rgba(0, 0, 0, 0.288); */
    padding: 10px;
    /* box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.288); */
    margin-top: 15px;
    background-color:#fff;
}