body {
    margin-top: 5em;
    background-color: rgb(18, 108, 150);
    color: aquamarine;
}

a {
    text-decoration: none;
}

.content-section2 {
    border: 1px solid rgba(0, 0, 0, 0.288);
    padding: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.288);
    margin-top: 15px;
    background-color:rgb(37, 48, 85);
    border-radius: 15px 40px;
    color: aquamarine;
    
}

.content-section {
    border: 1px solid rgba(0, 0, 0, 0.288);
    padding: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.288);
    margin-top: 15px;
    background-color:rgb(37, 48, 85);
    color: aquamarine;
    border-radius: 15px 40px;
}

.title {
    font-family: 'Times New Roman', Times, serif;
}

.link {
    text-decoration: none;
}
.imgs {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(158, 151, 151);
    border-radius: 50%;
}

.profile-section {
    /* border: 1px solid rgba(0, 0, 0, 0.288); */
    padding: 10px;
    /* box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.288); */
    margin-top: 15px;
    background-color:rgb(8, 60, 90);
    color: aquamarine;
    border-radius: 10px 40px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.288);
}

/* .fixed-content {
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
} */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(16, 118, 165);
    color: white;
    text-align: center;
 }

.dec {
    border: 1px solid;
    border-radius: 15px 40px;
    background-color: rgb(17, 71, 71);
}
