{% extends 'layout.html' %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="content-section">
            <fieldset>
                <legend class="border-bottom">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.about.label(class="form-control-label") }}
                    {% if form.about.errors %}
                        {{ form.about(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.about.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.about(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group mt-3">
                    {{ form.picture.label () }}</br>
                    {{ form.picture (class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group mt-3">
                {{ form.submit (class="btn btn-outline-info") }}
            </div>
        </div>
    </form>
{% endblock %}