{% extends 'layout.html' %}
{% block content %}
    
    <div class="profile-section">
        <img src="{{ image_file }}" class="rounded-circle mt-3" style="margin-bottom: 20px; float: left; margin-right: 10px;">
        <h3 style="margin-left: 40%; font-family: 'Times New Roman', Times, serif;">
            {{ user.username.title() }}
        </h3>
        {% if user.about %}
            <p>About Me: {{ user.about }}</p>
        {% endif %}
        {% if user.is_online() %}
            <p>Last Seen: Online</p>
        {% else %}
            <p>Last Seen: {{ user.last_seen.strftime("%d %b, %Y on %H:%M:%S") }}</p>
        {% endif %}
        {% if user == current_user %}
            <a href="{{ url_for('blog.profile_update', id=user.id) }}" class="btn btn-outline-success">
                Edit
            </a>
        {% endif %}

        {% if current_user.is_following(user)%}
            <div>
                <form action="{{ url_for('blog.unfollow', id = user.id) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.unfollow (class="btn btn-outline-danger")}}
                </form>
            </div>
        {% elif user == current_user %}
            <p></p>
        {% else %}
            <div>
                <form action="{{ url_for('blog.follow', id = user.id) }}" method="post" class="form-group">
                    {{ form.hidden_tag() }}
                    {{ form.follow (class="btn btn-outline-success")}}
                </form>
            </div>
        {% endif %}
    </div>
    <hr>
    <h3>User Posts</h3>
    <div class="mb-5">
        {% for post in user.posts %}
           <div class="content-section2">
                <img src="{{ image_file }}" class="rounded-circle" style="width: 50px; height: 50px; float: right;">
                <h2 class="border-bottom title" style="text-shadow: 5px 5px 10px;">{{ post.title.title() }}</h2>
                <h3>By: {{ post.author.username.title() }} - <small>{{ post.date_posted.strftime("%d %b, %Y") }}</small></h3>
                <p>{{ post.content }}</p>
                <p></p>
                {% if user == current_user %}
                    <a href="{{ url_for('blog.edit_post', id=post.id) }}" class="btn btn-outline-success float-end">Edit</a>
                    <!-- <a href="{{ url_for('blog.delete_post', id=post.id) }}" class="btn btn-outline-danger float-end">Delete</a> -->
                    <form action="{{ url_for('blog.delete_post', id=post.id) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.delete (class="btn btn-outline-danger")}}
                    </form>
                {% endif %}
           </div>
        {% endfor %}
    </div>
{% endblock %}