<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {% if title %}
        <title>Flask Blog - {{ title }}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}
</head>
<nav class="navbar navbar-expand-md navbar-light bg-info fixed-top">
    <div class="container">
        <a href="{{ url_for('home') }}" class="navbar-brand">Flask Blog</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav">
            <div class="navbar-nav me-auto">
                <a href="{{ url_for('home') }}" class="nav-item nav-link">Home</a>
                <a href="{{ url_for('blog.explore') }}"  class="nav-item nav-link">Explore</a>
            </div>
            <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('blog.new_post') }}" class="nav-item nav-link">New Post</a>
                    <a href="{{ url_for('blog.profile', id=current_user.id) }}" class="nav-item nav-link">Profile</a>
                    <a href="{{ url_for('blog.users') }}" class="nav-item nav-link">Users</a>
                    <a href="{{ url_for('auth.logout') }}" class="nav-item nav-link">Logout</a>
                {% else %}
                    <a href="{{ url_for('auth.login') }}" class="nav-item nav-link">Login</a>
                    <a href="{{ url_for('auth.register') }}"  class="nav-item nav-link">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissable"alert-dissmiss >
                                <span>{{ message }}</span>
                                <button class="btn-close float-end" data-bs-dismiss="alert"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %} {% endblock %}
            </div>
            <div class="col-md-4">
                <div class="content-section2" style="position: fixed; width: 300px;border-radius: 10px;">
                    <h3 class="border-bottom" style="text-align: center;">Our SideBar</h3>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light" style=" background-color:rgb(37, 48, 85); color: aquamarine;">About Author</li>
                        <li class="list-group-item list-group-item-light" style=" background-color:rgb(37, 48, 85); color: aquamarine;">Latest News</li>
                        <li class="list-group-item list-group-item-light" style=" background-color:rgb(37, 48, 85); color: aquamarine;">Announcements</li>
                        <li class="list-group-item list-group-item-light" style=" background-color:rgb(37, 48, 85); color: aquamarine;">Calenders</li>
                        <li class="list-group-item list-group-item-light" style=" background-color:rgb(37, 48, 85); color: aquamarine;">e.t.c</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="footer">
        <p>@Copy Right</p>
    </div> -->
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>