{% extends 'layout.html' %}
{% block content %}
    {% if user == current_user %}
        <h2>Welcome {{ user.username.capitalize() }}</h2>
    {% else %}
        <h2>{{ user.username.capitalize() }}</h2>
    {% endif %}
    <hr>
    <img src="{{ image_file }}" class="img">
    <div>
        {% for post in user.posts %}
           <div class="content-section">
                <h2 class="border-bottom title">{{ post.title }}</h2>
                <h3>By: {{ post.author.username }}</h3>
                <p>{{ post.content }}</p>
                <p>On: {{ post.date_posted.strftime("%d %b, %Y") }}</p>
           </div>
        {% endfor %}
    </div>
{% endblock %}